
.container{
    background-image: url('shopping/shopping_cart3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0; 
}
.headerBlock{
    padding: 0;
    margin: 0;
    top: 0;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    border-bottom: 6px solid rgb(14, 133, 127);
    background-color: rgb(28, 179, 171);
    opacity: 0.7;
}
.headerText{
    margin: 29px 609px 25px 7px;
}
.headerBlock img{
    float: left;
    height: auto;
    width: 7%;
}
li{
    list-style: none;
}

.mainBlock{
    width: 320px;
    height: 332px;
    background-color: rgb(13, 126, 120);
    color: #fff;
    box-sizing: border-box;
    padding: 9px 34px;
    margin: 101px auto 66px auto;
    position: relative;
    opacity: 0.8;
}
.headerLogin{
    text-align: center;
}
.inputBlock{
    
}
ul li label {
    /* Other styling... */
    text-align: right;
    clear: both;
    float:left;
    margin-right:15px;
}
input{
    text-align: right;
    clear: both;
    float: right;

}

.footerBlock{
    text-align: center;
    border-bottom: 6px solid rgb(14, 133, 127);
    background-color: rgb(28, 179, 171);
    opacity: 0.7;
}